[defaults]
library= ./library/modules
module_utils = ./library/module_utils
action_plugins = ./library/plugins/action
terminal_plugins = ./library/plugins/terminal
network_group_modules = bigip, bigiq
inventory = ./hosts
roles_path = ./roles
retry_files_enabled = False
